body {
    background-color: rgba(7, 12, 17, 1);
    margin: auto;
}

html{
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

/* Prozori setup */
.prozor-light {
    font-size: clamp(16px, 1vw, 1.2vw);
    font-weight: 600;
    color: rgb(11, 19, 27);
    background-color: rgb(255, 255, 255);
}

.prozor-dark {
    font-size: clamp(16px, 1vw, 1.2vw);
    font-weight: 600;
    color: white;
    background-color: rgb(11, 19, 27);
}

.prozor-dark .custom-list {
    list-style-type: none;
    padding-left: 1.25rem; 
}

.prozor-dark .custom-list li {
    margin-bottom: 5px; 
}

.custom-list .inner-list {
    list-style-type: disc;
    margin-top: 5px;
}

.custom-list .inner-list li {
    margin-bottom: 5px;
}

.custom-list li a {
    color: white; 
    text-decoration: none;
    transition: .5s  
}

.custom-list li a:hover {
    color: #F22F47;
    transition: .2s 
}

.prozor-kolor {
    font-size: clamp(16px, 1vw, 1.2vw);
    font-weight: 600;
    color: #0b121c;
    background-image: linear-gradient(270deg, #FF3F4E, #CC0033);
}

section {
    scroll-snap-align: start;
} */

/* Tipografija */
h1 {
    font-family: Poppins;
}

h2 {
    font-family: Poppins;
}

p {
    font-family: Nunito;
}

/* Navigacija */
.navigacija {
    z-index: 10;
    height: 12.9vh;
    background-color: rgba(7, 12, 17, 0);
    align-items: center;
    transition: .2s;
}

.navPozadina {
    background-color: rgba(7, 12, 17, 1);
    transition: .2s;
}

.navigacija a {
    font-family: Montserrat;
    text-decoration: none;
    color: white;
}

.navLogoContainer {
    height: 43%;
    margin-left: 2.5%;
    font-weight: 600;
    font-size: clamp(0.75vw, 0.8vw, 1vw);
}

.logoPolovina {
    height: 100%;
    aspect-ratio: 1/1;
    background-image: url("logos/logoForm_white.svg");
}

.naslovPolovina {
    height: 100%;
    margin-left: 1vw;
    align-items: center;
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

#logoAnimacija {
    transition: .2s;
}

.textJumpOut {
    transform: translateX(-100%);
    transition: .2s;
}

@media (max-width: 1000px) {
    .naslovPolovina div {
        display: none;
    }}

.navPagesContainer {
    width: 40%;
    height: 100%;
    margin-right: 5%;
    align-items: center;
}

.navButtonContainer {
    width: 25%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: clamp(0.8vw, 1vw, 1.2vw);
}

.navButtonContainer .nav-link {
    color: rgb(46, 77, 97);
    transition: .5s;
}

.navButtonContainer:hover .nav-item > a {
    color: rgb(255, 255, 255);
    transition: .2s;
}

.navButtonContainer li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navButtonContainer .dropdown-menu {
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    background-color: rgb(11, 18, 28, 0.9);
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
    transition: .15s;
}

.navButtonContainer .dropdown-item {
    color: rgba(255, 255, 255, 0.4);
    transition: .5s;
}

.navButtonContainer .dropdown-item:hover {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(11, 18, 28, 0);
    transition: .2s;
}

#progBar {
    height: 6px;
    transform: translate(-12px, -3px);
    margin-top: 12.9vh;
    box-shadow: 5px 0px 15px 0px #ff3f4e;
    width: var(--progress);
}

/* Skaliranje */
@media (max-width: 1000px) {
    .navLogoContainer {
        height: 30%;
    }
    .navPagesContainer {
        width: 70%;
    }
    .navButtonContainer {
        font-size: clamp(1.2vw, 1.8vw, 5vw);
    }
}

@media (max-width: 500px) {
    .navLogoContainer {
        height: 25%;
    }
    .navPagesContainer {
        width: 80%;
        margin-right: 0%;
    }
    .navButtonContainer {
        font-size: clamp(1.2vw, 2.2vw, 5vw);
    }
}

@media (max-width: 400px) {
    .navLogoContainer {
        height: 20%;
    }
    .navPagesContainer {
        width: 90%;
    }
    .navButtonContainer {
        font-size: clamp(1.2vw, 2.2vw, 5vw);
    }
}

/* Pocetna strana */
.pocetnaVideoContainer {
    width: 100%;
    height: 100%;
    background-color: rgba(7, 12, 17, 1);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 100%);
}

.pocetnaVideoContainer video{
    object-fit: cover;
    height: 100%;
    width: 100%;
    opacity: 0.4;
}


#pocetnaSection01 {
    width: 100%;
    height: 100vh;
}

.pocetnaSection01-container {
    width: 100%;
    height: 85vh;
    margin-top: 15vh;
}

.pocetnaContent-container {
    width: 60%;
    height: 100%;
}

.pocetnaContent-container h1 {
    font-weight: 700;
    background: -webkit-linear-gradient(0deg, #FF3F4E 15%, #CC0033 60%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.pocetnaContent-container h2 {
    font-weight: 500;
}

.pocetnaContent-container p {
    color: rgb(92, 105, 124);
    font-size: 20px;
}

@media (max-width: 1200px) {
    .pocetnaContent-container {
        width: 70%;
    }
    .pocetnaContent-container p {
        font-size: 20px;
    }
}

@media (max-width: 1000px) {
    .pocetnaContent-container {
        width: 100%;        
    }
    .pocetnaContent-container p {
        font-size: 16px;
    }
}

.pocetnaContent-container button {
     color: #F22F47;
     border-color: #F22F47;
     border-radius: 0.15rem;
}

#pocetnaSection02 {
    width: 100%;
}

.saradnici-pozadina {
    background-color: rgb(11, 19, 27);
    background-image: url("imagesUI/webBg_01.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: left;
    transition: .8s;
}

.saradnici-pozadina:hover {
    background-position-x: 15%;
    transition: .5s;
}

.renderPocetna {
    opacity: 0.8;
    transform: scale(135%);
    transition: .5s;
}

.renderPocetna:hover {
    opacity: 1;
    transform: scale(150%);
    transition: .2s;
}

.kartica-container a {
    color: #F22F47;
    background-color: #F22F4700;
    border-color: #F22F47;
    border-radius: 0.15rem;
}

.kartica-container a:hover {
    color: white;
    background-color: #F22F47;
    border-color: #f22f4600;
}

.kartica-container .card-title {
    color: white;
    font-weight: 600;
}

.kartica-container .card-text {
    color: white;
}

.kartica-container .card {
    border-radius: 0.15rem;
    background-color: rgba(7, 12, 17, 1);
    transition: .5s;
}

.kartica-container:hover .card {
    border-color: #F22F47;
    transform: scale(106%); 
    transition: .2s;
}

.kartica-container img {
    width: 100%;
    background-color: rgb(9, 16, 22);
    border-radius: 0.15rem;
    transition: .5s;
}

/* Footer */
#footer {
    background-color: rgba(7, 12, 17, 1);
}

#footer {
    color: white;
    font-size: clamp(14px, 0.8vw, 1vw);
    font-weight: 500;
}

#footer a {
    color: white;
    font-size: clamp(14px, 0.8vw, 1vw);
}

.footer-markiran {
    color: #F22F47;
    font-weight: bold;
}

.footerSlika {
    height: 35%;
}

/* Studijski program */
#studijskiProgSection01 {
    width: 100%;
    margin-top: 12.9vh;;
}

.bgSlika02 {
    background-image: url("imagesUI/webBg_02.png");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.bgSlika02 .prozor-dark {
    background-color: rgba(11, 19, 29, 0.5);
    backdrop-filter: blur(5px);
}

/* Predmeti */

.bgSlika03 {
    background-image: url("imagesUI/art.jpeg");
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.bgSlika03 .prozor-dark {
    background-color: rgba(11, 19, 29, 0.5);
    backdrop-filter: blur(5px);
}

/* Vesti */
 
#vestiSection01 {
    margin-top: 12.9vh;
}

.vesti-naslov h2{
    font-weight: 600;
}

.prozor-vesti {
    background-image: linear-gradient(270deg, #FF3F4E, #CC0033);
    color: black;
    border-radius: 0.15rem;
    transform: scale(98%);
    opacity: 0.9;
    transition: .5s;
}

.prozor-vesti img {
    border-radius: 0.15rem;
}

.prozor-vesti a {
    color: #0b131b;
    font-weight: 600;
    font-size: 18px;
    background-color: #F22F4700;
    border-color: #0b131b;
    border-radius: 0.15rem;
}

.prozor-vesti a:hover {
    color: white;
    background-color: #0b131b;
    border-color: #f22f4600;
}

.prozor-vesti:hover {
    transform: scale(100%);
    opacity: 1;
    transition: .2s;
}

.draza {
    background-color: rgb(7, 12, 17);
}